* {
    line-height: 1;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/quicksand-variablefont_wght-webfont.woff') format('woff'),
        url('/fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Nunito sans';
    src: url('/fonts/nunitosans-semibold-webfont.woff') format('woff'),
        url('/fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

.not-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16133D;
}

.logo {
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
}

.icon-logo {
    width: 30px;
    height: 30px;
    margin-right: 13px;
}

h1 {
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 35px;
}

.services {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
    text-transform: uppercase;

}

h2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #16133D;
}

.content {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.icon-flip {
    height: 64px;
    width: 64px;
    border: 1px solid #1565D81A;
    border-radius: 16px;
}

.flip-card {
    background-color: transparent;
    width: 64px;
    height: 64px;
    perspective: 1000px;
}
  

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid #1565D8 10%;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
  .flip-card-back {
    transform: rotateY(180deg);
    border: 1px solid #3DB3701A;
    border-radius: 16px;
}
  
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #16133D;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #16133D;
}

a {
    text-decoration: none;
}

.learn-more {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3DB370;
}
 
.footer {
    color: #fff;
    background-color: #16133D;
}

ul {
    list-style-type: none;
}
.icon-link {
    fill: #fff;
    width: 150px;
    margin-left: 70px;
}

.icon-link:hover {
    fill: #3DB370;
}

@media screen and (min-width: 1200px) {
    .not-header {
        justify-content: flex-start;
    }

    .logo {
        margin-left: 135px;
    }

    h2 {
        text-align: left;
    }
    
    .services {
        display: flex;
        justify-content: flex-start;
    }

    main {
        width: 1170px;
        margin-left: 135px;
        margin-right: 135px;
    }

    .content {
        flex-direction: row;
    }

    .container {
        padding: 40px;
        align-items: flex-start;
    }

    h3 {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 30px;
    }

    .footer .logo {
        margin-left: 135px;
        margin-top: 40px;
    }

    ul {
        display: flex;
        margin-left: 135px;
        width: 230px;
    }
    
    li {
        width: 38px;
        height: 38px;
    }

    .icon-link {
        width: 20px;
        height: 20px;
        background-color: #EFEEF3;
        border-radius: 5px;
    }

}